/* Search */
.search-section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 7;
  display: none;
}

.search {
  width: 100%;
}

.search-section.showing {
  display: block;
}

/* #333645 */
.search-wrapper {
  background-color: var(--search-background);
  width: 100%;
  position: absolute;
  left: 0;
  top: -360px;
  transition: top 0.5s ease-in-out;
}

.search-section.showing .search-wrapper {
  animation-name: fadeInFromTop;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.search {
  width: 100%;
}

@keyframes fadeInFromTop {
  from {
    top: -200px;
  }
  to {
    top: 0;
  }
}

/* Search Header */
.search__header {
  width: 100%;
  height: 80px;
  padding: var(--settings-padding);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search__title,
.search__returnButton {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.search__returnButton {
  font-size: 1.25rem;
  margin-right: 5px;
  background-color: inherit;
}

.search__form {
  width: 100%;
  padding: 1rem;
}

.search__form__input {
  padding: 1rem 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__form__input input,
.search__form__input button {
  background: inherit;
  color: #fff;
  font-size: 1.5rem;
}

.search__form__input input {
  flex: 1 1;
  border: none;
  outline: none;
}

/* Search History */
.searchHistory {
  padding: var(--settings-padding);
  padding-top: 0;
}

.searchHistory__header {
  margin-bottom: var(--settings-padding);
  position: relative;
}

.searchHistory__title {
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
}

.searchHistory__clearAll {
  background: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  top: 3px;
  right: 0;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.searchHistory__clearAll:hover,
.searchHistory__clearAll:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.searchHistory__list {
  /* border: 3px solid #fff; */
}

.searchHistory__list li {
  margin-bottom: calc(var(--settings-padding) * 0.5);
  border-bottom: 1px dotted #fff;
}

.searchHistory__list li:last-child {
  border: none;
}

.searchHistory__list li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
  color: #fff;
}

.searchHistory__list li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.searchHistory__deleteButton {
  background: none;
  color: #fff;
}
